<h2>Détail de la commande :</h2>

<table class="table table-striped">
    <thead>
        <tr>

            <th>Id Produit</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Prix total</th>
           
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let oi of order!.orderItems">
      
            <td>{{oi.productId}}</td>
            <td>{{oi.quantity}}</td>
            <td>{{oi.price}}</td>
            <td>{{oi.quantity * oi.price}}</td>
            
        </tr>
    </tbody>
    <tfoot>
        <br/>
        <tr>
            <td colspan="3" class="text-end"><b class="term">Montant total de la commande :</b></td>
            <td>{{ totalPrice }}</td>
        </tr>
    </tfoot>
</table>