<h2>Liste des produits :</h2>

<br/>
<div class="bg-white rounded d-flex align-items-center justify-content-between" id="header">
    <app-search-product (searchProductEvent)="filterProducts($event)"></app-search-product>
    <button class="btn btn-success" routerLink="/products/add">Ajouter un produit</button>
</div>

<br/>

<table class="table table-striped">
    <thead>
        <tr>
       
            <th>N° du Produit</th>
            <th>Nom du Produit</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Category</th>
            <th>Image</th>
            <th>Couleur</th>
            <th>Taille</th>
            <th>Description</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts ? filteredProducts : productsToDisplay">
         
            <td>{{p.productNumber}}</td>
            <td>{{p.productName}}</td>
            <td>{{p.quantityInStock}}</td>
            <td>{{p.unitPrice}}</td>
            <td>{{p.category}}</td>
            <td><img src={{p.image}} height = "40px" width="auto"></td>
            <td>{{p.color}}</td>
            <td>{{p.size}}</td>
            <td>{{p.description}}</td>
            <td><button class="btn btn-primary" [routerLink]="['/products', 'edit', p.id]">Editer</button></td>
            <td><button class="btn btn-danger" (click)="deleteProduct(p.id)">Supprimer</button></td>
        </tr>
    </tbody>
</table>

