<h2>Liste des utilisateurs :</h2>

<div class="bg-white rounded d-flex align-items-center justify-content-between" id="header">
    <app-search-user (searchUserEvent)="filterUsers($event)"></app-search-user>
</div>


<div class="ml-auto mt-3 mr-2">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" [ngClass]="{ 'disabled': currentPage===1 }">
                <a class="page-link" (click)="onPageChange(currentPage - 1)"  aria-label="Previous">
                    <span  aria-hidden="true" class="font-weight-bold" >&lt;</span>
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link">{{currentPage}}</a>
            </li>
        
            <li class="page-item" [ngClass]="{ 'disabled': users.length<itemsPerPage}">
                <a class="page-link"  (click)="onPageChange(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true" class="font-weight-bold">&gt;</span> 
                </a>
            </li>
        </ul>
       
    </nav>
</div>


<table class="table table-striped">
    <thead>
        <tr>
      
            <th>Prénom</th>
            <th>Nom</th>
            <th>EMail</th>
            <th>Mot de passe</th>
            <th>Date de naissance</th>
            <th>Téléphone</th>
            <th>Adresse de facturation</th>
            <th>Adresse de livraison</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of filteredUsers ? filteredUsers : users">
     
            <td>{{u.firstName}}</td>
            <td>{{u.lastName}}</td>
            <td>{{u.mail}}</td>
            <td>{{u.password}}</td>
            <td>{{u.dateOfBirth}}</td>
            <td>{{u.phoneNumber}}</td>
            <td>{{u.invoiceAdress}}</td>
            <td>{{u.deliveryAddress}}</td>
            <td><button class="btn btn-primary" [routerLink]="['/users', 'edit', u.id]">Editer</button></td>
            <td><button class="btn btn-danger" (click)="deleteUser(u.id)">Supprimer</button></td>
        </tr>
    </tbody>
</table>
