<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecommerce Navbar Design</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
   
</head>
<body>

    <div class="main-navbar shadow-sm sticky-top">
        <div class="top-navbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                        <h5 class="brand-name">MLM</h5>
                    </div>
                    <div class="col-md-5 my-auto">

                    </div>
                    <div class="col-md-5 my-auto">
                        <ul class="nav justify-content-end">
                            
                            
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/login" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i> Connexion 
                                </a>
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none" href="#">
                    Funda Ecom
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                         <a class="nav-link" href="#" aria-current="page" routerLink="/">Tableau de Bord</a>
                       </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" aria-current="page" routerLink="/products">Produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" aria-current="page" routerLink="/orders">Commandes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#"  aria-current="page" routerLink="/categories">Catégories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" aria-current="page" routerLink="/users">Utilisateurs</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>