<h2>Liste des commandes :</h2>
<br/>
<div class="bg-white rounded d-flex align-items-center justify-content-between" id="header">
    <app-search-order (searchOrderEvent)="filterOrders($event)"></app-search-order>
    <button class="btn btn-success" routerLink="/products/add">Ajouter une commande</button>
</div>

<br/>


<div class="ml-auto mt-3 mr-2">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" [ngClass]="{ 'disabled': currentPage===1 }">
                <a class="page-link" (click)="onPageChange(currentPage - 1)"  aria-label="Previous">
                    <span  aria-hidden="true" class="font-weight-bold" >&lt;</span>
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link">{{currentPage}}</a>
            </li>
        
            <li class="page-item" [ngClass]="{ 'disabled': currentPage>=(orders.length)/itemsPerPage + itemsPerPage}">
                <a class="page-link"  (click)="onPageChange(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true" class="font-weight-bold">&gt;</span> 
                </a>
            </li>
        </ul>
       
    </nav>
</div>


<table class="table table-striped">
    <thead>
        <tr>
       
            <th>N° de commande</th>
            <th>Date de commande</th>
           <!-- <th>Montant total</th> -->
            <th>Statut de la commande</th>
            <th>Détails </th>
            <th>Editer</th>
            <th>Supprimer</th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of filteredOrders ? filteredOrders : orders">
   
            <td>{{o.orderNumber}}</td>
            <td>{{o.orderDate}}</td>
            
            <td>{{o.orderStatus}}</td>
            <td><button class="btn btn-info" [routerLink]="['/orders', o.id, 'details' ]" >Afficher les détails</button></td>
           <!-- <td><button class="btn btn-info" [routerLink]="['/orders', o.id, '/list-order-items' ]" >Afficher les détails</button></td> --> <!-- METTRE LIEN VERS LES ORDERITEMS -->
            <td><button class="btn btn-primary" [routerLink]="['/orders', 'edit', o.id]">Editer</button></td>
            <td><button class="btn btn-danger" (click)="deleteOrder(o.id)">Supprimer</button></td>
            
        </tr>
    </tbody>
</table>
